Системни изисквания -
- PHP 5.3.x или по висока версия;
- MySQL 5.0.x или по висока версия;
- cURL PHP extension;
- SimpleXML PHP extension;
- max_execution_time >= 3600
- max_input_time >= 3600
- memory_limit >= 512M
- mysql wait_timeout >= 3600
- mysql max_allowed_packet >= 32M
- server httpd_can_network_connect = true



Преди да инсталирате плъгина:

От админ. панела на WordPress проверете следните настройки на WooCommerce и ако е необходимо ги коригирайте спрямо указанията по-долу:
1.	В „WooCommerce>Настройки>Основни>Местоположения за доставяне“ не трябва да бъде избрана опцията „Изключване на доставките и изчисленията за доставка“
2.	В „WooCommerce>Настройки>Основни>Местоположение по подразбиране за клиента“ препоръчваме да бъде избрана опцията „Седалище на магазина“
3.	В „WooCommerce>Настройки>Основни>Опции за валута>Валута“ изберете „български лев“
4.	В „WooCommerce>Настройки>Основни>Опции за валута>Позиция на символа за валута“ изберете „Дясно“
5.	В „WooCommerce>Настройки>Основни>Опции за валута>Разделител на хилядите“ изберете „,“ (запетая)
6.	В „WooCommerce>Настройки>Основни>Опции за валута>Десетичен знак“ изберете „.“ (точка)
7.	В „WooCommerce>Настройки>Основни>Опции за валута>Брой на десетиците“ изберете „2“
Проверете дали хостинг съвъра, който използвате покрива системните изисквания на плъгина:
1. PHP 5.3.x или по-нова
2. MySQL 5.0.x или по-нова
3. cURL PHP extension;
4. SimpleXML PHP extension;
5. max_execution_time >= 3600
6. max_input_time >= 3600
7. memory_limit >= 512M
8. mysql wait_timeout >= 3600
9. mysql max_allowed_packet >= 32M
10. server httpd_can_network_connect = true